/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(145deg, #242424, #1a1a1a);
  color: #eaeaea;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  text-align: center;
  margin-top: 40px;
}

.navbar h1 {
  font-size: 45px;
  color: #f8c202;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Card Section */
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
  padding-top: 80px;
}

/* Cards */
.card {
  background: linear-gradient(135deg, #2d2d2d, #1f1f1f);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  border: 1px solid #444;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 200px;
  height: 230px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px #f8c202;;
}

#nqueen_card {
  background-image: url('../images/N-Queen_Puzzle.png');
}

#polysphere_card {
  background-image: url('../images/Polysphere_Puzzle.png');
}

#pyramid5_card {
  background-image: url('../images/Pyramid_Puzzle\ \(Level\ 5\).webp');
}

#pyramid9_card {
  background-image: url('../images/Pyramid_Puzzle\ \(Level\ 9\).webp');
}