<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle Grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Polysphere Puzzle</h1>
    <div class="puzzle">
        <div class="row">
            <div class="grid-container" id="circleGrid"></div>
                <div id="lastUsedContainer" class="previous_shape">
                    <h2>Previous Shape</h2>
                    <div id="lastUsedShapeDisplay"></div>
                </div>
            </div>
        <div class="puzzle-pieces" id="puzzleContainer"></div>
        <div class="controls">
            <button id="startButton">Start</button>
            <button id="resetButton">Reset</button>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>